<div class="logIn">
    <form [formGroup]="logInForm" (submit)="logIn()">
        <div  class="form-group">
            <label for="email">
                Email
            </label>
            <input type="text" formControlName="email" id="email">
            <div class="text-danger" *ngIf="logInForm.get('email')?.invalid && logInForm.get('email')?.touched">
                Email is required.
            </div>
        </div>
        <div  class="form-group">
            <label for="password">
                Password
            </label>
            <input type="password" formControlName="password" id="password">
            <div class="text-danger" *ngIf="logInForm.get('password')?.invalid && logInForm.get('password')?.touched">
                Password is required.
            </div>
        </div>
        <div>
            <div class="form-group">
                <button type="submit" [disabled]="!logInForm.valid">LogIn</button>
            </div>
        </div>
    </form>
    <button routerLink="/signIn">
        Register
    </button>
    <div *ngIf="loginFail" text-small> Incorrect email or password. Authentication failed. </div>
</div>


