<div class="details">
    <h3>Booking Details</h3>
    <ul class="list-group">
        <li class="list-group-items">Name: {{booking.name}}</li>
        <li class="list-group-items">Email: {{booking.email}}</li>
        <li class="list-group-items">Phone No.: {{booking.phoneNo}}</li>
        <li class="list-group-items">Movie Name: {{movie.name}}</li>
        <li class="list-group-items">Show Time: {{show.startTime}}</li>
        <li class="list-group-items">Price: {{payment.amount}}</li>
        <li class="list-group-items">Number of Seats: {{booking.numberOfSeats}}</li>
        <li class="list-group-items">Cinema Hall Name: {{cinemaHall.name}}</li>
        <li class="list-group-items">Cinema: {{cinema.name}}</li>
        <li class="list-group-items">City: {{city.name}}</li>
    </ul>
</div>